
<div class="container" style="min-width:180px;padding:10px;background-color:white;width: 80% ;margin-left: auto;margin-right: auto;margin-top:10%;margin-bottom: 5%;">       
        <!-- Introduction Row -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Every day billions of people struggle for better healthcare. We want to change that. Globally.

This starts with helping them find the best doctors and culminates into a single intelligent healthcare account for the entire family that securely stores all their healthcare data so they can make better healthcare decisions.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/images/member1.jpg" alt="">
                <h3>Prof. Kruti Lavingia
                    <small>Guide</small>
                </h3>
                
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center"  src="/images/member2.jpg" alt="">
                <h3>Mr. Sagar Bhatt
                    <small>Web Developer</small>
                </h3>
                </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center"  src="/images/member3.jpg" alt="">
                <h3>Ashutosh Joshi
                    <small>Web Developer</small>
                </h3>
                
            </div>
        </div>
</div>
